<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Accueil</title>
  </head>

  <body>
    
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'laby:create' %}" method="post">
  {% csrf_token %}
      <label for="game-name">Nom de la partie : </label>
      <input type="text" name="game-name" id="game-name">
      <input type="submit" value="Créer">
  </form>

<hr>    
  {% if game_list %}
      <ul>
      {% for game in game_list %}
          <li><a href="{% url 'laby:game' game.id %}">{{ game.name }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>Pas de partie en cours</p>
  {% endif %}
  </body>

</html>
